[user]
  name = YOUR_NAME
  email = YOUR_EMAIL
[init]
  defaultBranch = main
[fetch]
  prune = true
[pull]
  rebase = true
[push]
  autosetupremote = true
[branch]
  sort = committerdate
[diff]
  algorithm = histogram
[merge]
  conflictstyle = diff3
[color]
  ui = auto
